# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Prisma PostgreSQL Connection
# Runtime: Transaction pooler URL (e.g. postgresql://postgres.[ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true)
DATABASE_URL=""

# Migrations: Direct PostgreSQL connection or Session pooler (e.g. postgresql://postgres.[ref]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres)
DIRECT_URL=""
